.layout-container {
  display: flex;
  min-height: 100vh; 
}

app-sidebar {
  width: 250px;
  background-color: #f8f9fa;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  height: 100vh;
  position: sticky;
  top: 0;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #fff;
}
