<app-hero></app-hero>
<div class="container my-5">
  <div class="row">
    <div class="col-md-3">
      <app-category-filter 
        (sortChange)="onSortChanged($event)" 
        (priceRangeChange)="onPriceRangeChanged($event)">
      </app-category-filter>
    </div>

    <div class="col-md-9">
      <app-product-tabs 
        [sortBy]="sortBy" 
        [priceRange]="priceRange">
      </app-product-tabs>
    </div>
  </div>
</div>

<app-review></app-review>
<app-brand></app-brand>
<app-user-about></app-user-about>
<app-contact></app-contact>