<div class="sidebar">
    
    <div class="sidebar-brand">
        <i class="bi bi-shop"></i>
        <span>EcomDash</span>
    </div>
    <div class="sidebar-menu">
    <a href="/admin/dashboard" routerLinkActive="active" class="sidebar-menu-item">
            <i class="bi bi-speedometer2"></i>
            <span>Dashboard</span>
        </a>
        
        <a href="/admin/products" routerLinkActive="active" class="sidebar-menu-item">
            <i class="bi bi-box-seam"></i>
            <span>Products</span>
        </a>

        <a href="/admin/brands" routerLinkActive="active" class="sidebar-menu-item">
            <i class="bi bi-tags"></i>
            <span>Brands</span>
        </a>

        <a href="/admin/category" routerLinkActive="active" class="sidebar-menu-item">
            <i class="bi bi-diagram-3"></i>
            <span>Category</span>
        </a>

        <a href="/admin/subcategory" routerLinkActive="active" class="sidebar-menu-item">
            <i class="bi bi-diagram-2"></i>
            <span>Subcategory</span>
        </a>

        <a href="/admin/customers" routerLinkActive="active" class="sidebar-menu-item">
            <i class="bi bi-people"></i>
            <span>Customers</span>
        </a>

        <a href="/admin/orders" routerLinkActive="active" class="sidebar-menu-item">
            <i class="bi bi-receipt"></i>
            <span>Orders</span>
        </a>



          <a href="/admin/about" routerLinkActive="active" class="sidebar-menu-item">
      <i class="bi bi-info-circle"></i>
      <span>About</span>
    </a>

    <a href="/admin/contact" routerLinkActive="active" class="sidebar-menu-item">
      <i class="bi bi-envelope"></i>
      <span>Contact Us</span>
    </a>

     <a href="/admin/reviews" routerLinkActive="active" class="sidebar-menu-item">
      <i class="bi bi-chat-left-quote"></i>
      <span>Testimonials</span>
    </a>

<a href="/admin/profile" routerLinkActive="active" class="sidebar-menu-item">
            <i class="bi bi-receipt"></i>
            <span>Profile</span>
        </a>
    <a href="/logout" routerLinkActive="active" class="sidebar-menu-item">
            <i class="bi bi-receipt"></i>
            <span>Logout</span>
        </a>
    </div>
</div>