<div class="container mt-5" *ngIf="product">
  <div class="row">
    <div class="col-md-6">
      <img [src]="product.productImages[0]" class="img-fluid rounded border" [alt]="product.productName" />
    </div>
    <div class="col-md-6">
      <h2>{{ product.productName }}</h2>
      <p><strong>Price:</strong> {{ product.price }} EGP</p>
      <p><strong>Gender:</strong> {{ product.gender }}</p>

      <button class="btn btn-success mt-3" (click)="addToCart()">Add to Cart</button>
    </div>
  </div>
</div>

<div *ngIf="!product" class="text-center mt-5">
  <p class="text-muted">Loading product details...</p>
</div>
